<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>AuthenticationController</servlet-name>
        <servlet-class>controller.authen.AuthenticationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>controller.home.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashboardUserServlet</servlet-name>
        <servlet-class>controller.user.DashboardUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDashboardServlet</servlet-name>
        <servlet-class>controller.admin.AdminDashboardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminEnrollments</servlet-name>
        <servlet-class>controller.admin.AdminEnrollments</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminCourse</servlet-name>
        <servlet-class>controller.admin.AdminCourse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminUser</servlet-name>
        <servlet-class>controller.admin.AdminUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dashboard_room</servlet-name>
        <servlet-class>dashboard_room</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminRoom</servlet-name>
        <servlet-class>controller.admin.AdminRoom</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AuthenticationController</servlet-name>
        <url-pattern>/authen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashboardUserServlet</servlet-name>
        <url-pattern>/user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDashboardServlet</servlet-name>
        <url-pattern>/admin/dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminEnrollments</servlet-name>
        <url-pattern>/admin/enrollments</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminCourse</servlet-name>
        <url-pattern>/admin/course</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminUser</servlet-name>
        <url-pattern>/admin/user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminRoom</servlet-name>
        <url-pattern>/admin/room</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
</web-app>
